*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root{
    font-size: 62.5%;
}

body{
    background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    font-size: 1.6rem;

    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif
}

.hide{
    display: none;
}

main{
    border-radius: .5rem;
    background: #FFF;
    box-shadow: 0rem 2rem 5px 0rem rgba(0, 0, 0, 0.80);
    padding: 4.8rem 6.4rem 6.4rem;
    width: min(42.8rem, 90%);
}

/*screen1*/
h1{
    color: #34355B;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p{
    margin-top: 2.5rem;
    color: #34355B;
    text-align: center;
    font-family: "DM Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

img{
    padding-top: 2.5rem;
    padding-left: 5.5rem;
    cursor: pointer;
}

button{
    display: flex;
    margin-top: 3.5rem;
    margin-left: 7rem;
    padding: 1.6rem;
    align-items: center;
    gap: 1rem;
    border-radius: .4rem;
    background: #FF9500;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: background .3s;
}

/*screen2*/
.screen2 h2{
    color: #34355B;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

strong{
    margin-top: 2.5rem;
    display: grid;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: "Dancing Script";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #E4EDF1;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
}


.screen2 button{
    display: flex;
    margin-top: 3.5rem;
    margin-left: 5rem;
    padding: 1.6rem;
    align-items: center;
    gap: 1rem;
    border-radius: .4rem;
    background: #FF9500;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: background .3s;

}

button:hover{
    background-color:  #ec8e0c;
}